@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&family=Space+Grotesk:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur {
    backdrop-filter : blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.box-shadow-btn:hover {
   box-shadow:  3px 3px 0 0 #111;
   transform: translate(-4px, -4px);
}
